/* Home-About Section */
.homeabout-section {
    padding: 0px 50px;
}

.homeabout-content-container {
    width: 100%;
    margin: 0 auto;
}

.homeabout-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.homeabout-description {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #555;
}

.homeabout-image {
    object-fit: contain;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Mobile view css */
@media (max-width: 992px) {
    .homeabout-section {
        padding: 0px 15px;
        margin-top: 5%;
    }

    .homeabout-title {
        font-size: 1.8rem;
    }

    .homeabout-description {
        font-size: 0.9rem;
    }

}